# .travis.yml --
#
# Travis CI configuration for MBFL.

#page
#### global configuration

language: bash

#sudo: true

# Let's just look at the project's dashboard at Travis CI's site.
#
notifications:
  email: false

# We do no git operations, so set the "git clone" depth to the minimum.
#
git:
  depth: 1

branches:
  only:
    - master

# NOTE There must be only *one* env.global key!!!  Otherwise the earlier
# settings will be ineffective.
env:
  global:
    - MAKEFLAGS="-j 2"

#page
#### build scripts

before_script:
  - sh ./autogen.sh;

matrix:
  fast_finish: true

  include:
    # Plain build under Ubuntu GNU+Linux "trusty".
    - os: linux
      dist: trusty
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - lzip
            - texinfo
      script:
        - ./configure --enable-maintainer-mode
        - make all
        - make check || { cat test-suite.log; false; }

    # Plain build under OS X, XCode 7.3.
    - os: osx
      osx_image: xcode7.3
      addons:
        homebrew:
          packages:
            - bash
      script:
        - ./configure --enable-maintainer-mode
        - make all
        - make check || { cat test-suite.log; false; }

    # Plain build under OS X, XCode 8.3.
    - os: osx
      osx_image: xcode8.3
      addons:
        homebrew:
          packages:
            - bash
      script:
        - ./configure --enable-maintainer-mode
        - make all
        - make check || { cat test-suite.log; false; }

#page
#### done

### end of file
# Local Variables:
# paragraph-start: "#[ \t].+\\|$"
# paragraph-separate: "#[ \t]*$"
# fill-prefix: "# "
# page-delimiter: "^#page"
# End:
